<li class="card">
    <div class="circle">
        <img src="<%= current.sprites%>" alt="">
    </div>
    <div class="name-type">
        <h2><%= current.id %>. <%= current.name %></h2>
        <p></p>
    </div>
</li>